---
// This file is used to serve the TinaCMS admin interface
// It will be replaced during the build process by Tina's CLI
---

<!DOCTYPE html>
<html>
  <head>
    <title>TinaCMS Admin</title>
    <script src="https://unpkg.com/@tinacms/app@1.1.0/dist/index.js"></script>
  </head>
  <body>
    <div id="tina-admin">
      <h1>Loading TinaCMS Admin...</h1>
      <p>If you see this message, ensure you're running the TinaCMS development server.</p>
    </div>

    <script>
      // This will be replaced by Tina's build process
      document.addEventListener('DOMContentLoaded', () => {
        const { defineBasicPage } = window.TinaCMS;
        const TinaAdmin = defineBasicPage({
          cmsCallback: (cms) => {
            // You can customize the CMS instance here if needed
          },
          query: ''
        });
        
        const root = document.getElementById('tina-admin');
        if (root) {
          TinaAdmin.mount(root);
        } else {
          console.error('Could not find root element for TinaCMS');
        }
      });
    </script>
  </body>
</html>
